*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}
h2{
    color: white;
    font-size: 35px;
    padding: 20px;
    text-align: center;
    
}
.todos-talleres{
    display: flex;
    flex-direction: column;
}

.contenedor-taller{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;

}
.contenedor-taller p{
    margin-bottom: 15px
}
img{
    width: 100%;
}
.contenedor-taller a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-size: 25px;
    /* padding: 20px; */
    text-align: center;
}
.foto-taller{
    width: 100%;
    padding: 30px;
    /* probando algo nuevo */
    border-radius: 10px;
    background-color: #d3d3d396;;
}
.horarios{
    color: rgb(8, 8, 8);
    margin-left: 25px;
    
}
main{
    margin: 40px;
}

/* movil */
@media(min-width: 200px){
    /* HEADER */
}

  /*Tableta*/
@media (min-width: 700px){  
    /* HEADER */
    h2{
        font-size: 45px;
    }

    .horarios{
        font-size: 15px;
    }
    .contenedor-taller{
        background-color: white;
        width: 50%;
    }
    .todos-talleres{
        padding: 15px
    }
}
/*PC*/
@media (min-width: 860px){
    /* .foto-taller{
        width: 40%;
    } */
    .contenedor-taller p{
        text-align: left;
        margin-left: 29px;
        margin-bottom: 10px
    }

}