h3{
    margin-top: 40px;
}
h4{
    font-size: 25px;
    text-align: center;
    color: white;
    
}
.div-info-danza{
    padding: 40px;

}

.info-danza{
    
    /* padding: 10px 10px 20px; */
    color: white;
    font-size: 15px;
    text-align: justify;
    line-height: 27px;
}

/* movil */
@media(min-width: 200px){

    #id-imagen-percusiones{
        margin: 40px;
        width: 80%;
       
    }
}


  /*Tableta*/
@media (min-width: 700px){  
    /* HEADER */
    #id-imagen-percusiones{
        width: 70%;
    }


    .info-danza{
        font-size: 25px;
        line-height: 37px;
        background-color: white;
        color: black;
        border-radius: 20px;
        padding: 40px;
    }


/*PC*/


    .div-imagen-percusiones{
        justify-content: space-evenly;
        display: flex;
        margin: 100px;
    }
    .div{
        margin: 20px;
        border-radius: 20px;
        background-color: white;
    }
}