<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index-styles.css">
    <script src="https://kit.fontawesome.com/f8b57e23e1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <title>Radio Banda</title>
</head>
<body>

    <!-- header -->
    <%- include('partials/header') %>


    <main>
        <h3>Radio Banda Trans-Misiones Comunitarias</h3>
        <div class="contenedor-mision">
            
            
            <div class="texto-mision">
                <h4>Misión</h4>
                <br>
                <p>Somos un medio de comunicación comunitario en construcción, independiente y autogestivo, que busca abrir un espacio plural e incluyente de diálogo, encuentro y participación ciudadana. Siendo nuestra principal herramienta las acciones colectivas dirigidas a la construcción de procesos de organización y transformaciones necesarias para una sociedad más justa, humana y solidaria.</p>
                
            </div>
            <div class="imagen-mision">
                <br>
                <img src="/images/mision.jpg" id="id-imagen">

            </div>

        </div>

        <div class="contenedor-vision">
            <div class="texto-vision">

                <h4>Visión</h4>
                <br>
                <p>Buscamos ser un medio de comunicación que desarrolle un espacio de diálogo y encuentro para las personas de la comunidad y otros colectivos afines, con el fin de coadyuvar en el fortalecimiento de intercambios culturales, experiencias y conocimientos que permitan articular prácticas transformadoras de las relaciones y el entorno social.</p>

            </div>
            <div class="imagen-vision">
                <br>
                <img src="/images/vision.jpg" id="id-imagen">
            </div>

        </div>
    </main>


    <!-- footer -->
    <%- include('partials/footer') %>
</body>
</html>