<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index-styles.css">
    <link rel="stylesheet" href="/css/talleresIndex-styles.css">
    <link rel="stylesheet" href="/css/programacion-styles.css">
    <script src="https://kit.fontawesome.com/f8b57e23e1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">

    <title>Radio Banda</title>
</head>
<body>

    <!-- header -->
    <%- include('partials/header') %>


    <main>
        <div class="contenedor-programas">
            <div class="programas-radio">
                <iframe width="100%" height="400" src="https://www.mixcloud.com/widget/iframe/?light=1&feed=%2FRadioBanda%2Fla-milpa-de-mi-barrio-cultura-muy-ac%C3%A1%2F" frameborder="0" ></iframe>
            </div>
            <div class="programas-radio">
                <iframe width="100%" height="400" src="https://www.mixcloud.com/widget/iframe/?light=1&feed=%2FRadioBanda%2Frevista-radiof%C3%B3nica-jarillas%2F" frameborder="0" ></iframe> 
            </div>           
            <div class="programas-radio">
                <iframe width="100%" height="400" src="https://www.mixcloud.com/widget/iframe/?light=1&feed=%2FRadioBanda%2Fmundos-posibles-construyendo-otras-realidades%2F" frameborder="0" ></iframe>
            </div>
        </div>

        <div class="programa-cuento">
            <iframe width="100%" height="400" src="https://www.mixcloud.com/widget/iframe/?feed=%2FRadioBanda%2Fel-multiverso-de-caperucita%2F" frameborder="0" ></iframe>
        </div>



    </main>

    <!-- footer -->
    <%- include('partials/footer') %>
</body>
</html>