<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index-styles.css">
    <link rel="stylesheet" href="/css/radioBocina.css">
    
    <script src="https://kit.fontawesome.com/f8b57e23e1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <title>Radio Banda</title>
</head>
<body>

    <!-- header -->
    <%- include('partials/header') %>


    <main>
        <h3>Radio Bocina</h3>
        <div>
            <div class="bocina-podcast">
                <div>
                    <p class="info-bocina">
                    La radio bocina es una intervención del espacio público a partir de las herramientas radiofónicas. Procuramos una interacción directa con el público, provocando su participación en expresiones y diálogos que activen reflexiones alrededor de temas relevantes para la comunidad. 

                    Recurrimos a manifestaciones artísticas, debates sobre temas de interés e invitados especiales, convocados para aportar alternativas transformadoras de lo social tal como economía solidaria, autonomía, cooperativismo, inclusión, feminismo, etc.

                    Nuestra finalidad es suscitar un espacio común convocando a los vecinos a la construcción de un ágora donde la palabra recupere su capacidad de afectar la realidad y construir perspectivas comunes de acción y organización.
                    </p>
                </div>
                <div class="podcast">
                    <iframe width="100%" height="400" src="https://www.mixcloud.com/widget/iframe/?feed=%2FRadioBanda%2Fradio-banda-nuestra-radio-bocina-visita-al-multitrueke-mixiuhca%2F" frameborder="0"></iframe>
                </div>          
            </div>
            <div class="div-imagen-percusiones">

                <div>
                    <img src="/images/radioBanda/banda2.jpeg" id="id-imagen-percusiones">
                </div>
                <div>
                    <img src="/images/radioBanda/banda3.jpeg" id="id-imagen-percusiones">
                </div>
            </div>
    </main>

    <!-- footer -->
    <%- include('partials/footer') %>
</body>
</html>