<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index-styles.css">
    <link rel="stylesheet" href="/css/talleresIndex-styles.css">
    <link rel="stylesheet" href="/css/somos-style.css">
    <script src="https://kit.fontawesome.com/f8b57e23e1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">

    <title>Radio Banda</title>
</head>
<body>

    <!-- header -->
    <%- include('partials/header') %>

    <main>
      
      <h3>Somos</h3>
      <div class="contenedor-cajas">
        <div class="caja-imagen">
          <img src="/images/somos/MarianoAndrade.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Mariano Andrade</p></div>
              <div class="descuento"><p>Contacto: mar30ian08@gmail.com</p></div>
            </div>
            <p class="descripcion">Explorador de las enmarañadas posibilidades de la comunicación, desde las rodas de capoeira, hasta los arrabales de la expresión musical afroamericana. A la sazón; responsable de Programación y Continuidad en esta H. Emisora.
              </p>
          </div>
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/MarianaAlarcon.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Mariana Alarcón</p></div>
              <div class="descuento"><p>Contacto: marianushka@gmail.com</p></div>
            </div>
            <p class="descripcion">Psicóloga educativa de formación, intérprete de la compañía la Fábrica Danza-Teatro y otras Ocurrencias, miembro de Banda do Saci desde hace unos años. Le gusta bailar, gingar y trabajar en propuestas de arte comunitario. Ahora trabaja en la programación y producción de  Radio Banda.</p>
          </div>
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/JuanValladares.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Adrian Valladares</p></div>
              <div class="descuento"><p>Contacto: bandaliktattoocrew@gmail.com</p></div>
            </div>
            <p class="descripcion">Fundador del colectivo “Bandalik Tattoo Crew” y owner del estudio de tatuajes con el mismo nombre. Criado en Acuitlapilco, Edo de México. Su trabajo está enfocado en cuestiones visuales y plásticas como el diseño gráfico, pintura, dibujo, fotografía y tatuaje. Colaborador en el diseño de los logotipos y la identidad gráfica del proyecto Radio Banda.
              </p>
          </div> 
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/FredyGaspar.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Fredy García</p></div>
              <div class="descuento"><p>Contacto: fredycpjms@gmail.com</p></div>
            </div>
            <p class="descripcion">Responsable del taller de Capoeira Angola en Casa de Cultura las Jarillas, discípulo de Mestre Curió, ECAIG, BH-Brasil; miembro de Banda do Saci Capoeira México A.C. desde 2006.
              </p>
          </div>
        </div>
      

        <div class="caja-imagen">
          <img src="/images/somos/AmeyaliOlmedo.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Ameyali Olmedo</p></div>
              <div class="descuento"><p>Contacto: ameyalipsy@gmail.com</p></div>
            </div>
            <p class="descripcion">Hola, soy Ameyali. Me gusta la capoeira, la música, los perros y los tacos. Formo parte de la banda desde hace 3 años. Realizo labores de difusión en Radio Banda. Siempre se me olvidan las juntas. XD
              
              
              </p>
          </div>
        </div>
      

        <div class="caja-imagen">
          <img src="/images/somos/AntonioCortes.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Antonio Cortés</p></div>
              <div class="descuento"><p>Contacto: cortes311091@gmail.com</p></div>
            </div>
            <p class="descripcion">Forma parte del consejo rector de la casa de cultura “Las Jarillas”, donde imparte el taller de hip hop y danza urbana. En este espacio no solo comparte conocimientos de danza, sino que tiene la visión de tocar conciencias, basado en las enseñanzas de la cultura hip hop. Locutor de Radio Banda y responsable de sección "Hip hop como forma de vida".</p>
          </div>
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/CarlosEnrique.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Carlos Enrique</p></div>
              <div class="descuento"><p></p></div>
            </div>
            <p class="descripcion">Soñador; mezcla de músico, cantante, compositor, actor, terapeuta acupunturista. </p>
          </div>
        </div>
    
        <div class="caja-imagen">
          <img src="/images/somos/ClaudiaArellano.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Claudia Arellano</p></div>
              <div class="descuento"><p>Contacto: clauditadiaba@yahoo.com.mx</p></div>
            </div>
            <p class="descripcion">Actuaria de profesión y profesora de matemáticas por vocación. Se ha desempeñado en distintas disciplinas artísticas y culturales: danza, baile, capoeira, zancos y cuentacuentos. Promotora cultural con experiencia en el desarrollo y ejecución de proyectos culturales. Considera que es buen tiempo para construir nuevas realidades incluyentes y solidarias.</p>
          </div>
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/GeorginaSanchez.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Georgina Sanchez</p></div>
              <div class="descuento"><p>Contacto: georginalethia@gmail.com</p></div>
            </div>
            <p class="descripcion">Nativa de la "Tlacotal". Aprendiz eterna de la etnobotánica, la agroecología, la educación emancipadora y la agricultura. Milito desde la esperanza, soy animalista y quelitera de corazón.</p>
          </div>
        </div>


        <div class="caja-imagen">
          <img src="/images/somos/JuanCalderon.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Juan Calderón</p></div>
              <div class="descuento"><p>Contacto: skalion1408@gmail.com</p></div>
            </div>
            <p class="descripcion">Yo, yo y yo… Nosotr@s creando espacios de encuentro y diálogo, basándonos en procesos reflexivos, propositivos y comunitarios. Caminamos lento hacia la autogestión, para construir relaciones y redes desde nuestra autonomía individual y colectiva. Esto somos nosot@s que soy yo y, además, soy yo que somos nosotr@s.</p>
          </div>
        </div>


        <div class="caja-imagen">
          <img src="/images/somos/ElizabethSantiago.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Elizabeth Santiago</p></div>
              <div class="descuento"><p>Facebook: Lizeli Santiago</p></div>
            </div>
            <p class="descripcion">Puedes llamarme Eli o Liz, o Lizeli. Tengo 31 años, soy egresada de la licenciatura en psicología, especializada en el área organizacional. También soy capoeirista; me gusta aprender y compartir en comunidad. Formo parte del equipo gestor en Banda do Saci y soy locutora en Radio Banda.</p>
          </div>
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/KarenRojas.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Karen Rojas</p></div>
              <div class="descuento"><p>Contacto:  jalearojayrosa@hotmail.com</p></div>
            </div>
            <p class="descripcion">Es bailarina, historiadora y estudiante de educación e innovación pedagógica. Está interesada en procesos culturales comunitarios participativos y en la educación para la paz. Le gusta convivir con la niñez porque aprende, entre muchas otras cosas, sobre la imaginación, la creatividad y la sinceridad. Es responsable del programa de cuentos para niños en Radio Banda. </p>
          </div>
        </div>


        <div class="caja-imagen">
          <img src="/images/somos/KathiaSandoval.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Kathia Sandoval</p></div>
              <div class="descuento"><p>Contacto: pandx4ever4ever@gmail.com</p></div>
            </div>
            <p class="descripcion">Cofundadora del colectivo Bandalik y tatuadora del estudio de tatuajes del mismo nombre. Ella reside en Iztapalapa, CDMX. Sus principales actividades de trabajo están enfocadas en el tatuaje, diseño, serigrafía, grabado y dibujo. Colaboradora en el diseño de los logotipos y la identidad gráfica del proyecto Radio Banda. </p>
          </div>
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/ElenaNoriega.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Elena Noriega</p></div>
              <div class="descuento"><p> Contacto: male.nori@gmail.com</p></div>
            </div>
            <p class="descripcion">Lic. en Homeopatía. Promotora Cultural y Promovente del Comedor Comunitario La panza es primero. Promovente Aplicación Comunitaria Izco.
              </p>
          </div>
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/LeonardoVazquez.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Leonardo Vázquez</p></div>
              <div class="descuento"><p>Contacto: leonardo.vazquezsoria@gmail.com</p></div>
            </div>
            <p class="descripcion">Dicen que soy raro.</p>
          </div>
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/SilviaAlcantara.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Silvia Alcántara</p></div>
              <div class="descuento"><p>Contacto: Als799@hotmail.com</p></div>
            </div>
            <p class="descripcion">Mujer fundadora de la Casa de Cultura las Jarillas, miembro del Consejo Rector, activista, luchadora social, narradora, pedagoga, Mtra. en educación, Promotora Cultural y orgullosamente Sindicalista.</p>
          </div>
        </div>


        <div class="caja-imagen">
          <img src="/images/somos/LigiaMontano.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Ligia Montaño</p></div>
              <div class="descuento"><p>Contacto: ligiaaida@yahoo.com.mx </p></div>
            </div>
            <p class="descripcion">Pertenezco al Consejo Rector de la Casa De Cultura Las Jarillas. Socióloga, Pedagoga, Sindicalista y Mujer que: Sueña, Crea, Lucha por un Mundo Culturalmente POSIBLE.</p>
          </div>
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/LuisGarcia.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Luis Garcia</p></div>
              <div class="descuento"><p>Contacto: diabodosaci7@gmail.com</p></div>
            </div>
            <p class="descripcion">Plasma imágenes y sueños en el cartón, escribe cuentos con temas de inclusión. Necio en ser promotor cultural. Capoeirista y zanquero de corazón. Creyente que otros mundos son posibles. Locutor del programa con ese nombre. </p>
          </div>
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/MariaLuz.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Maria de la Luz</p></div>
              <div class="descuento"><p>Contacto: luzga771@gmail.com</p></div>
            </div>
            <p class="descripcion">Apoya en el taller de danza de Banda do Saci y colabora en el programa cultural de Radio Bocina. En la danza encuentra el reconocimiento de su cuerpo y el expresar cualquier tipo de sentimiento. Busca compartir su experiencia de que no hay límite de edad para bailar ritmos afrobrasileños.</p>
          </div>
        </div>


        <div class="caja-imagen">
          <img src="/images/somos/MiguelGonzalez.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Miguel Gónzalez</p></div>
              <div class="descuento"><p>Contacto: clauditadiaba@yahoo.com.mx</p></div>
            </div>
            <p class="descripcion">Actuaria de profesión y profesora de matemáticas por vocación. Se ha desempeñado en distintas disciplinas artísticas y culturales: danza, baile, capoeira, zancos y cuentacuentos. Promotora cultural con experiencia en el desarrollo y ejecución de proyectos culturales. Considera que es buen tiempo para construir nuevas realidades incluyentes y solidarias.</p>
          </div>
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/MonserratBarranco.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Monserrat Barranco</p></div>
              <div class="descuento"><p>Contacto: escribemonserratneri@gmail.com</p></div>
            </div>
            <p class="descripcion">Escritora, Educadora, Productora y Música.
              Siempre fuí solitaria, imaginativa, creativa e independiente.
              Leer y escribir siempre han sido parte de mí.
              Locutora de Radio Banda. </p>
          </div>
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/RamonVelazquez.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Ramon Velázquez</p></div>
              <div class="descuento"><p>Contacto: ivanmontec345@gmail.com</p></div>
            </div>
            <p class="descripcion">Hola, soy Ramón, uno de los que está aprendiendo a manejar el audio en este proyecto. Si algo se escucha raro es mi culpa.</p>
          </div>
        </div>


        <div class="caja-imagen">
          <img src="/images/somos/YoloveGlal.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Yolove Glal</p></div>
              <div class="descuento"><p>Contacto: amorxtuciclo@gmail.com</p></div>
            </div>
            <p class="descripcion">Integrante del Consejo Rector de la Casa de Cultura "Las Jarillas" Mercadologa, Amante del maíz. Sexóloga Educativa, Decidida a sembrar en  nuestras infancias la sexualidad consciente.</p>
          </div>
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/MalaikaAndrade.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Malaika Andrade</p></div>
              <div class="descuento"><p>Contacto: malaikaandrade20@gmail.com</p></div>
            </div>
            <p class="descripcion">Programadora web Full-stack y Bióloga.</p>
          </div>
        </div>


        <div class="caja-imagen">
          <img src="/images/somos/BrendaNaranjo.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Brenda Naranjo</p></div>
              <div class="descuento"><p>Contacto: bren_naranjo@hotmail.com </p></div>
            </div>
            <p class="descripcion">Antropóloga y Danzarina apasionada, mujer rebelde y utopista, amante de la cultura mexicana. 
              Contacto: bren_naranjo@hotmail.com 
              </p>
          </div>
        </div>

        <div class="caja-imagen">
          <img src="/images/somos/MarisSofia.jpeg" alt="">
          <div class="caja-precio">
            <i class="fas fa-compact-disc icono"></i>
            <div class="precio-descuento">
              <div class="precio"><p>Maris Sofía</p></div>
              <div class="descuento"><p>Contacto: clauditadiaba@yahoo.com.mx</p></div>
            </div>
            <p class="descripcion">Coordina el taller de danza de Banda Do Saci y colabora en el programa cultural de la Radio Bocina. Encuentra en el movimiento corporal formas de resistir, colaborar y transformar las realidades. Busca crear espacios de reflexión y de gozo mediante la danza afrobrasileña.</p>
          </div>
        </div>



    </div>

    <!-- footer -->
    <%- include('partials/footer') %>
</body>
</html>