<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index-styles.css">
    <script src="https://kit.fontawesome.com/f8b57e23e1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <title>Radio Banda</title>
</head>
<body>

    <!-- header -->
    <%- include('partials/header') %>


    <main>
        <h3>Taller de Capoeira Angola</h3>
        <div class="contenedor-mision">
            
            
            <div class="texto-mision">
                <h4>Historia de Banda do Saci</h4>
            
                <p> El 16 de marzo de 1992, en el salón 110 del Antiguo Colegio de San Ildefonso, Mariano Marcos Andrade Butzonich imparte la primera clase formal de capoeira en México, en un taller organizado por el Departamento de Danza de la UNAM bajo la dirección de Rosario Manzanos. En 1995 forma el grupo Ollin-Bao grupo dedicado a la difusión de la cultura Afro y en 1966 funda el grupo de capoeira Banda do Saci siendo registrado como asociación Civil en 1998, como una iniciativa de un grupo de personas que poseía una identidad asociada con la raíz afroamericana o tercera raíz de América y una filosofía vinculada con la resistencia, la libertad y la relación de la cultura con lo social. Los fundadores del grupo son Mariano Marcos Andrade Butzonitch, Claudia Elena Ríos y Luis Ernesto García Orozco. En 1997 Banda do Saci Capoeira México AC se afilia a ECAIG (Escola de Capoeira Angola Irmaos Gemeos) de Jaime Martins Dos Santos (Mestre Curio) </p>
                
            </div>
            <div class="imagen-mision">
                <br>
                <img src="/images/fotosTalleres/tallerAngola.jpg" id="id-imagen">

            </div>

        </div>

        <div class="contenedor-vision">
            <div class="texto-vision">

                <h4>Taller de Capoeira Angola en Jarillas</h4>
                <br>
                <p>
                    Este taller se compone de una serie de elementos que desarrollarán en las personas la consciencia corporal, sensibilidad musical y aprendizaje del idioma portugués; así como la identificación de situaciones históricas del Brasil Colonial ligado al contexto contemporáneo de su comunidad.
                    <br>
                    Se aborda el tema de la Capoeira Angola desde sus diversas concepciones de origen y evolución, la filosofía de la Capoeira Angola como alternativa ética, la roda de capoeira como espacio geométrico, ritual, místico, como espacio social y como dinámica terapéutica de no violencia.
                </p>

            </div>
            <div class="imagen-vision">
                <br>
                <img src="/images/fotosTalleres/tallerAngola2.jpg" id="id-imagen">
            </div>

        </div>
    </main>


    <!-- footer -->
    <%- include('partials/footer') %>
</body>
</html>