<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
<footer>
    <div class="footer-box">

        <div class="div-logo-footer">
            <a href="/"> <img src="/images/logos/logo-blanco-desktop.png" id="logo-footer"></a>
        </div>

        <div class="contenedor-contacto">
            <ul type=none>
                <li><h4>Contacto</h4></li>
                <li id= "cajita-redes"><a href="#"><i class="far fa-envelope"></i> &nbsp;radiobanda2021@gmail.com</a></li>
                <li id= "cajita-redes"><a href="#"><i class="fab fa-whatsapp"></i> &nbsp;+52 5567542345</a><a href="#"></a></li>
            </ul>
        </div>

        <div class="contenedor-redes">
            <ul type=none>
                <li><h4>Redes</h4></li>
                <li id= "cajita-redes"><a href="https://www.facebook.com/Radio-Banda-103856201391143"><i class="fab fa-facebook-square"></i> &nbsp;Radio Banda</a><a href="https://www.facebook.com/Radio-Banda-103856201391143"></a></li>
                <li id= "cajita-redes"><a href="https://www.instagram.com/radio_banda/?utm_medium=copy_link"><i class="fab fa-instagram"></i> &nbsp;Radio_banda</a><a href="https://www.instagram.com/radio_banda/?utm_medium=copy_link"></a></li>
                <li id= "cajita-redes"><a href="https://www.facebook.com/Radio-Banda-103856201391143"><i class="fab fa-mixcloud"></i> &nbsp;Radio Banda</a><a href="https://www.facebook.com/Radio-Banda-103856201391143"></a></li>
            </ul>
        </div>

        <div class="contenedor-redes-hermanas">
            <ul type=none>
                <li><h4>Redes Hermanas</h4></li>
                <li id= "cajita-redes"><a href="https://www.radiofarodeoriente.com/">Radio Faro Oriente</a></li>
                <li id= "cajita-redes"><a href="https://fmlatribu.com/">Radio la Tribu</a></li>
                <li id= "cajita-redes"><a href="https://radionopal.com/">Radio Nopal</a></li>
            </ul>
        </div>
    </div>
</footer>