<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
<header>
    <div class="header-box">
        <!-- <div class="logo-desktop">
            <a href="/"> <img src="/images/logos/logo-blanco-desktop.png"></a>
        </div> -->

        <nav class="mobile-container">
            <div class="topnav-links">
                <div class="div-logo-movil">
                    <a href="/"> <img src="/images/logos/logo-blanco-movil.png" class="logo-movil"></a>
                </div>
                <div id="my-links">
                    <a href="#">Programación</a>
                    <a href="/talleres">Talleres</a>
                    <a href="#">Radio Bocina</a>
                    <a href="/memorial">Memorial</a>
                    <a href="#">Somos</a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars" id="hamburgesa-icon"></i>
                </a>

            </div>
            <script>
                function myFunction() { 
                var x = document.getElementById("my-links");
                if (x.style.display === "block"){
                    x.style.display = "none";
                }else{
                    x.style.display = "block";
                }
                }
            </script>
        </nav>

        <nav>
            <div class="desktop-container">
                <div class="div-logo-desktop">
                    <a href="/"> <img src="/images/logos/logo-blanco-desktop.png" id="logo-desktop"></a>
                </div>
                <div class="my-links-desktop">
                    <a href="/programacion">Programación</a>
                    <a href="/talleres">Talleres</a>
                    <a href="/radioBocina">Radio Bocina</a>
                    <a href="/memorial">Memorial</a>
                    <a href="/somos">Somos</a>
                </div>

            </div>
        </nav>
    </div>
    <div>
        <a><img src="/images/logos/banner-1000.png" id="banner-768"></a>
    </div>
</header>